body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Bold";
  color: #ffffff;
  background-color: #849d8f;
}

h1,
h3 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 60px;
  line-height: 60px;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2.3%;
  padding-right: 2.3%;
  outline: 2px solid #ffff00; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Скрою слайдер, т.к. пока непонятно, как его писать*/
.promo {
  display: none;
}

.popular {
  outline: 2px solid pink;
}

.popular-item {
  float: left;
  width: 22.2%;
  margin-right: 2.2%;
  outline: 2px solid green;
}