body {
  max-width: 1200px;
  min-width: 900px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  outline: 2px solid #ffff00;
}

.row {
  padding-left: 2.3%;
  padding-right: 2.3%;
  margin-bottom: 40px; /*для .communication-items выпадет за родительский контейнер wrapper*/
  outline: 2px solid green;
}

.column-left,
.column-right {
  float: left;
  box-sizing: border-box;
  width: 48.85%;
  padding: 16px 21px 90px 19px;
  border-radius: 12px;
  outline: 2px solid pink;
}

.column-right {
  float: right;
}

.cell {
  position: relative;
  float: left;
  width: 23.275%;
  margin-right: 2.3%;
  outline: 2px solid chocolate;
}

.cell:nth-child(4n) {
  margin-right: 0;
}

.cell a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px; /*каждой кнопке задаем свою ширину*/
  height: 44px;
  margin: 0;
  padding: 9px 14px 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); 
  color: #ffffff;
  background-color: #ec583c;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 22px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
}

.btn:hover {
  color: #ffffff;
  background-color: #f07a63;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0px 2px 2px 0px #ac1000; 
}

.btn:active {
  color: #ffffff;
  background-color: #db5338;
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0px 2px 2px 0px #ac1000;
}

.main-nav {
  float: left;
  width: 550px;
  padding-top: 9px; 
  outline: 2px solid #ff0000;
}

.main-nav img {
  display: inline-block;
  margin: 0;
  margin-left: -3px; 
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.main-nav .main-menu {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  list-style: none;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 15px 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.main-nav-item {
  margin-top: -4px;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 16px;
  outline: 2px solid pink;
}

.main-menu .sub-menu {
  position: absolute;
  top: 46px;
  left: -6px;
  z-index: 1;
  display: none;
  min-width: 142px;
  margin: 0;
  padding: 0;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  overflow: hidden;
}

.main-menu li:hover .sub-menu {
  display: block;
}

.sub-menu-item {
  display: block;
  padding: 9px 21px 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.sub-menu-item.first {
  padding: 10px 21px;
}

.sub-menu li:first-child::after {
  content: "";
  display: block;
  margin: 0 9px 0 6px;
  height: 1px;
  background-color: #d1d0ce;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

li:not(.sub-current):hover > .sub-menu-item {
  color: #323232;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

li:not(.sub-current):active > .sub-menu-item {
  color: #323232;
}

.sub-menu li.sub-current {
  background-color: #d07058;
}

.sub-current .sub-menu-item {
  color: #ffffff;
}



.current .main-nav-item {
  color: #ffffff;
  text-decoration: none;
  background-color: #d07058;
}

.main-nav-item:hover {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
}

.main-nav-item:active {
  color: #333333;
  text-decoration: none;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.user-block {
  float: right;
  width: 293px;
  padding-top: 23px;
  text-align: right;
  outline: 2px solid #ff0000;
}

.user-block .searshinput,
.user-block .enter,
.user-block .all-products {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  background-color: #a1b4a9;
  border-radius: 16px;
  outline: 2px solid pink;
}

.user-block .searshinput {
  position: relative;
  width: 32px;
  height: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.user-block .searshinput::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/spritesheet.png");
  background-position: -431px -5px;
}

.user-block .searshinput:hover {
  background-color: #f8f7f4;
}

.user-block .searshinput:hover::before {
  filter: invert(1);
}

.user-block .enter,
.user-block .all-products {
  position: relative;
  margin-left: 7px;
  padding: 8px 16px 8px 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.user-block .enter::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/spritesheet.png");
  background-position: -338px -5px;
}

.user-block .enter:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block .enter:hover::before {
  filter: invert(1);
}

.user-block .all-products {
  min-width: 56px;
}

.user-block .all-products::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-position: -205px -5px;
}

.user-block .all-products.full {
  max-width: 87px;
  color: #323232;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f7f6f3;
  overflow: hidden;
}

.user-block .all-products.full::before {
  background-position: -236px -5px;
}

.all-products.full {
  max-width: 87px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-header .row {
  position: relative;
}

.header-lable {
  position: absolute;
  top: 72px;
  right: 2.3%;
  width: 293px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  outline: 2px solid #ff0000;
}

.header-lable span {
  font-size: 22px;
  line-height: 32px;
}

/*Скрою слайдер, т.к. пока непонятно, как его писать*/
.promo {
  display: none;
}

.specials {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.specials h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.specials p {
  margin: 0;
}

.specials .column-left {
  position: relative;
  min-height: 229px;
  color: #ffffff;
  background-color: #be1c42;
  background-image: url("../img/raspberries-fon.jpg");
  background-repeat: no-repeat;
}

.specials .column-right {
  position: relative;
  min-height: 229px;
  color: #ffffff;
  background-color: #4e3125;
  background-image: url("../img/chocolate-fon.jpg");
  background-repeat: no-repeat;
}

.specials .btn {
  position: absolute;
  right: 21px;
  bottom: 24px;
  height: 46px;
  padding: 10px 22px 10px;
} 

.cell .background-hover {
  display: none;
}

.cell:hover .background-hover {
  position: absolute;
  top: -9px;
  transform: translate(-4%, 0);
  z-index: -1;
  display: block;
  width: 110%;
  height: 130%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.cell:hover .btn {
  position: absolute;
  right: 50%;
  bottom: 17px;
  transform: translate(50%, 0);
  min-width: 193px;
  padding: 9px 12px 11px;  
}

.cell:hover {
  z-index: 10;
}

.cell img {
  width: 100%; 
  max-width: 267px; 
  min-width: 200px; 
  max-height: 267px; 
  min-height: 200px;
  border-radius: 50%;
}

.cell .price {
  margin-top: -65px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  filter: drop-shadow(0px 1px 3px rgba(49, 50, 53, 0.5));
}

.price span {
  position: relative;
  padding-right: 30px;
  font-size: 45px;
}

.price span::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 27px;
  height: 32px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -394px -5px;
}

.cell p {
  margin: 0;
  margin-top: 20px;
  padding: 0 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
}

.cell p:hover  {
  color: #e84d37;
}

.cell p:active  {
  color: #e84d37;
}

.popular .cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -267px -5px;
}

.features {
  padding: 23px 0 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #ede2cd;
  background-image: url("../img/wafer-fon3.jpg");
  background-repeat: repeat;
  border-radius: 12px; 
}

.features p {
  margin: 0 120px 0 18px;
}

.features .column-left,
.features .column-right {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.features .features-item {
  position: relative;
  margin: 0;
  margin-top: 10px;
  padding: 12px 0 0 56px;
}

.column-left .features-item {
  padding-left: 75px;
}

.column-right .features-item {
  padding-right: 30px;
}

.features .features-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 49px;
  background-image: url("../img/spritesheet.png");
}

.features .ice-img::before {
  left: 18px;
  background-position: -458px -5px;
}

.features .leaf-img::before {
  left: 18px;
  background-position: -517px -5px;
}

.features .cow-img::before {
  background-position: -29px -5px;
}

.features .thermo-img::before {
  background-position: -744px -5px;
}

.communication-items .column-left {
  min-height: 220px;
  padding: 23px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/berry-fon.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
}

.communication-items h3 {
  margin: 4px 0;
  width: 310px;
}

.communication-items .blog {
  padding-right: 10px;
  padding-top: 1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  background-color: rgba(255, 255, 255, 0.8);
}

.communication-items .blog:hover  {
  color: #e84d37;
}

.communication-items .blog:active  {
  color: #e84d37;
}

.communication-items .column-right {
  padding: 6px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.communication-items .fon {
  position: relative;
  box-sizing: border-box;
  min-height:  208px;
  padding: 28px 21px 92px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 12px;
}

.communication-items p {
  margin: 0;
}

.communication-items .btn {
  position: absolute;
  right: 20px;
  bottom: 35px;
  padding: 9px 17px 11px;
  border: none;
}

.communication-items .input-group {
  position: absolute;
  right: 159px;
  left: 21px;
  bottom: 35px;
}

.communication-items input {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.map-contacts {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center -25%;
  outline: 2px solid #00ff00;
}

.map-contacts .row {
  margin-bottom: 0;
}

.contacts {
  float: right;
  box-sizing: border-box;
  width: 302px;
  margin-top: 62px;
  margin-bottom: 62px;
  padding: 29px 25px 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fefefe;
  border-radius: 14px;
  outline: 2px solid #ff0000;
}

.contacts p {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.contacts span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts p.phone {
   margin-top: 18px;
   margin-bottom: 5px;
}

.contacts span.phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.contacts .btn {
  width: 100%;
  margin-top: 25px;
}




/* Cтили для каталога*/
.breadcrumbs {
  margin: 0;
  margin-top: -16px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  outline: 2px solid #00ff00;
}

.breadcrumbs li {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  position: relative;
  padding-right: 21px;
  color: #ffffff;
}


.breadcrumbs a::after {
  content: "»";
  position: absolute;
  right: 8px;
  text-decoration: none;
}

main h1 {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.row.filters {
  margin-top: -16px;
}

.filters .sorting {
  width: 189px;
}

.filters .rate {
  width: 215px;
}

.filters .fatness {
  width: 410px;
  margin-right: 0;
}

.filters .toppings {
  width: 700px;
  margin-bottom: 0;
}

.filter {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: bottom;
  font-size: 0;
  line-height: 0;
  outline: 2px solid #ff00ff;
}

.filter select,
.filter label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.filter span {
  margin-left: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter .filter-group {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  margin-top: 7px;
  padding-left: 14px;
  color: #ffffff;
  background-color: #aabab0;
  border-radius: 18px;
  border: none;
}

.sorting .filter-group {
  padding-left: 11px;
}

.sorting .filter-group:hover {
  color: #343434;
  background-color: #ffffff;
}

.rate .filter-group {
  padding-top: 16px;
}

.rate .rate-axis {
  position: relative;
  width: 187px;
  height: 4px;
  background-color: #d1dad3;
}

.rate-axis .range-slider {
  position: absolute;
  left: 30px;
  right: 62px;
  height: 4px;
  background-color: #ffffff;
}

.rate-axis .range-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -9px;
  left: 19px; 
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.rate-axis .range-handle:last-child {
  left: 117px;  
}

.fatness li {
  display: inline-block;
  margin-right: 18px;
  padding-top: 9px;
  vertical-align: top;
}

.fatness li:last-child {
  margin-right: 0;
} 

.fatness input {
  display: none;
}

.fatness label,
.toppings label {
  position: relative;
  padding-left: 31px;
}

.fatness label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fatness label:hover {
  cursor: pointer;
}

.fatness label:hover::before {
  border-width: 2px;
}

.fatness input:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 5px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.fatness input:disabled + label::before,
.fatness input:disabled + label::after {
  opacity: 0.4;
}

.toppings li {
  display: inline-block;
  margin-right: 22px;
  padding-top: 8px;
  vertical-align: top;
}

.toppings li:last-child {
  margin-right: 0;
} 

.toppings input {
  display: none;
}

.toppings label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.toppings label:hover::before {
  border: 2px solid #ffffff;
}

.toppings input:checked + label::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 5px;
  width: 14px;
  height: 10px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -5px;
}

.toppings input:disabled + label::before,
.toppings input:disabled + label::after {
  opacity: 0.4;
}

.filters button[type="submit"] {
  width: 145px;
  height: 36px;
  margin-left: -6px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #aabab0;
  border: 2px solid #fbfcfb;
  border-radius: 18px;
}

.filters button[type="submit"]:hover {
  color: #323232;
  background-color: #fbfcfb;
}

.filters button[type="submit"]:active {
  color: #323232;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px 0px #696969;
} 










.catalog {
  margin-bottom: 80px;
  outline: 2px solid #ff0000;
}

.paginator {
  float: right;
  width: 200px;
  outline: 2px solid #ff0000;
}





































































.main-footer {
  padding: 20px 0 25px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  outline: 2px solid #0000ff;
}

.main-footer .row {
  margin-bottom: 0;
}

.main-footer a:hover {
  color: #ffbc9e;
}

.main-footer a:active {
  color: #ffbc9e;
}


.footer-left {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 40px; 
  outline: 2px solid #ff00ff;
}

.social-footer {
  float: left;
  width: 240px;
  outline: 2px solid #0ff0f0;
}

.social-footer .btn-social {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 8px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-footer .btn-social::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  filter: opacity(0.8);
}

.social-footer .btn-social-tw::before {
  background-position: -660px -5px;
}

.social-footer .btn-social-inst::before {
  background-position: -618px -5px;
}

.social-footer .btn-social-fb::before {
  background-position: -576px -5px;
}

.social-footer .btn-social-vk::before {
  background-position: -702px -5px;
}

.social-footer .btn-social:hover {
  border-color: #dae2de;
}

.social-footer .btn-social:hover::before {
  filter: opacity(1);
}

.social-footer .btn-social:active {
  border-color: #dae2de;
  box-shadow: inset 0px 2px 1px 0px #888888; 
}

.social-footer .btn-social:active::before {
  filter: opacity(0.7);
  z-index: -1;
}

.column-1 {
  float: right;
  width: 135px;
  outline: 2px solid #0ff0f0;
}

.nav-footer ul {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  list-style: none;
}

.nav-footer li {
  position: relative;
  margin-bottom: 4px;
}

.nav-footer li:last-child {
  margin-bottom: 0;
}

.nav-footer a {
  color: #ffffff;
  text-decoration: underline;
}

.column-1 li {
  padding-left: 24px;
}

.nav-footer .love::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -369px -5px;
}

.column-2 {
  box-sizing: border-box;
  float: left;
  width: 23.275%;
  margin-left: -8px;
  outline: 2px solid #ff0000;
}

.copiright-footer {
  float: right;
  box-sizing: border-box;
  width: 192px;
  padding-left: 0;
  font-size: 12px;
  outline: 2px solid #ff00ff;
}

.copiright-footer .htmlacademy-logo {
  display: block;
  width: 108px;
  height: 38px;
  margin-bottom: 3px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -87px -5px;
}

.copiright-footer a {
  color: #fefefe;
}


