body {
  max-width: 1200px;
  min-width: 900px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}
/* пока уберем
h1,
h3 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 60px;
  line-height: 60px;
}*/

.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  outline: 2px solid #ffff00;
}

.row {
  padding-left: 2.3%;
  padding-right: 2.3%;
  margin-bottom: 40px; /*для .communication-items выпадет за родительский контейнер wrapper*/
  outline: 2px solid green;
}

.column-left,
.column-right {
  float: left;
  box-sizing: border-box;
  width: 48.85%;
  padding: 16px 21px 21px 19px;
  border-radius: 12px;
  outline: 2px solid pink;
}

.column-right {
  float: right;
}

.cell {
  position: relative;
  float: left;
  width: 23.275%;
  margin-right: 2.3%;
  outline: 2px solid chocolate;
}

.cell:nth-child(4n) {
  margin-right: 0;
}

.cell:nth-child(n+5) {
  margin-top: 40px;
}

.cell a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px; /*каждой кнопке задаем свою ширину*/
  height: 44px;
  margin: 0;
  padding: 9px 14px 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); 
  color: #ffffff;
  background-color: #ec583c;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 22px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
}

.btn:hover {
  color: #ffffff;
  background-color: #f07a63;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1); 
}

.btn:active {
  color: #ffffff;
  background-color: #db5338;
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1); 
}

.main-nav {
  float: left;
  width: 550px;
  padding-top: 9px; 
  outline: 2px solid #ff0000;
}

.main-nav * {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.main-nav img {
  margin-left: -3px; 
}

.main-nav ul {
  margin-left: 8px;
  list-style: none;
}

.main-nav-item {
  margin-top: -4px;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  outline: 2px solid pink;
}

.user-block {
  float: right;
  width: 293px;
  padding-top: 23px;
  text-align: right;
  outline: 2px solid #ff0000;
}

.user-block * {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  background-color: #a1b4a9;
  border-radius: 16px;
  outline: 2px solid pink;
}

.user-block .searshinput {
  position: relative;
  width: 32px;
  height: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.user-block .searshinput::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url("../img/spritesheet.png");
  background-position: -431px -5px;
}

.user-block .enter,
.user-block .all-products {
  position: relative;
  margin-left: 7px;
  padding: 8px 16px 8px 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.user-block .enter::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/spritesheet.png");
  background-position: -338px -5px;
}

.user-block .all-products {
  min-width: 56px;
}

.user-block .all-products::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-position: -205px -5px;
}

/* лэйбл можно еще прикрутить абсолютно, сделав строку хэдера относительно позиционированной*/
.header-lable {
  float: right;
  clear: both;
  margin-top: 18px;
  width: 293px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  outline: 2px solid #ff0000;
}

.header-lable span {
  font-size: 22px;
  line-height: 32px;
}

/*Скрою слайдер, т.к. пока непонятно, как его писать*/
.promo {
  display: none;
}

.specials {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.specials h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.specials p {
  margin: 0;
}

.specials .column-left {
  position: relative;
  min-height: 229px;
  color: #ffffff;
  background-color: #be1c42;
  background-image: url("../img/raspberries-fon.jpg");
  background-repeat: no-repeat;
}

.specials .column-right {
  position: relative;
  min-height: 229px;
  color: #ffffff;
  background-color: #4e3125;
  background-image: url("../img/chocolate-fon.jpg");
  background-repeat: no-repeat;
}

.specials .btn {
  position: absolute;
  right: 21px;
  bottom: 21px;
  height: 46px;
  padding: 10px 22px 10px;
} 

.cell .background-hover {
  display: none;
}

.cell:hover .background-hover {
  position: absolute;
  top: -9px;
  transform: translate(-4%, 0);
  z-index: -1;
  display: block;
  width: 110%;
  height: 130%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.cell:hover .btn {
  position: absolute;
  right: 50%;
  bottom: 17px;
  transform: translate(50%, 0);
  min-width: 193px;
  padding: 9px 12px 11px;  
}

.cell:hover {
  z-index: 10;
}

.cell img {
  width: 100%; 
  max-width: 267px; 
  min-width: 200px; 
  max-height: 267px; 
  min-height: 200px;
  border-radius: 50%;
}

.cell .price {
  margin-top: -65px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  filter: drop-shadow(0px 1px 3px rgba(49, 50, 53, 0.5));
}

.price span {
  position: relative;
  padding-right: 30px;
  font-size: 45px;
}

.price span::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 27px;
  height: 32px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -394px -5px;
}

.cell p {
  margin: 0;
  margin-top: 20px;
  padding: 0 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
}

.cell:hover p {
  text-decoration: none;
}

.popular .cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -267px -5px;
}











.map-contacts {
  background-color: #00aa00;
  outline: 2px solid #00ff00;
}

.map-contacts .row {
  margin-bottom: 0;
}

.contacts {
  float: right;
  width: 302px;
  margin-top: 62px;
  margin-bottom: 62px;
  outline: 2px solid #ff0000;
}

.main-footer {
  padding: 20px 0;
  outline: 2px solid #0000ff;
}

.footer-left {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 40px; 
  outline: 2px solid #ff00ff;
}

.social-footer {
  float: left;
  width: 200px;
  outline: 2px solid #0ff0f0;
}

.column-1 {
  float: right;
  width: 135px;
  outline: 2px solid #0ff0f0;
}

.column-2 {
  box-sizing: border-box;
  float: left;
  width: 23.275%;
  margin-left: -8px;
  outline: 2px solid #ff0000;
}

.copiright-footer {
  float: right;
  width: 190px;
  outline: 2px solid #ff00ff;
}

/*Дальше стили для каталога*/

.breadcrumbs {
  margin-top: -16px;
  margin-bottom: 7px;
  outline: 2px solid #00ff00;
}

.filter {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 17px;
  vertical-align: bottom;
  outline: 2px solid #ff00ff;
}

.filters .sorting {
  width: 194px;
}

.filters .price {
  width: 218px;
}

.filters .fatness {
  width: 416px;
  margin-right: 0;
}

.filters .toppings {
  width: 703px;
  margin-bottom: 0;
}

.filters button[type="submit"] {
  width: 145px;
  margin-bottom: 0;
}

.catalog {
  margin-bottom: 80px;
  outline: 2px solid #ff0000;
}

.paginator {
  float: right;
  width: 200px;
  outline: 2px solid #ff0000;
}
